body{
    background-color: rgb(176, 49, 49);

}

#Rock{
    color: red;
    
}

#Paper{
    color: red;
    
}

#Scissors{
    color:red;
}

h2{
    text-align: center;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
}

