head{
    margin-bottom: 50px;
}
body{
    background-color: rgb(176, 49, 49);
    min-height: 100vh;
	width: 100%;
    margin-top: 40px;
    

}

#Rock{
    color: red;
    margin: 5px;
    
}

#Paper{
    color: red;
    margin: 5px;
    
}

#Scissors{
    color:red;
    margin: 5px;
}

h2{
    text-align: center;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1{
    text-align: center;
    font-weight: 900;
    margin-bottom: 40px;
    
}

footer{
    text-align: center;
    margin-top: 40px;
}